 <!DOCTYPE html>
<html ng-app="euro-app">
	<head>
		<title>Europe Trip</title>
		<link rel="stylesheet" type="text/css" href="global.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/numeral.js"></script>

		<script type="text/javascript" src="data.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</head>
	<body ng-controller="Euro">
		<h1>The Trip</h1>
		<!-- example elements -->
		<ul>
			<li class="tripUnit" ng-repeat="datum in data">
				<div id="sidebar" style="height: {{datum.height}}">
					<div id="vLine"></div>
					<div id="circle"></div>
					<span id="date">{{datum.date}}</span>
				</div>
				<div id="content">
					<h3 ng-if="isArray(datum.location)">
						{{datum.location[0]}} to {{datum.location[1]}}
					</h3>
					<h3 ng-if="!(isArray(datum.location))">{{datum.location}}</h3>
					<table ng-if="isThere(datum.details)">
						<tr ng-repeat="detail in datum.details">
							<td width="260">{{detail.keyword}}</td>

							<td width="110"ng-if="isThere(detail.time) && isArray(detail.time)">{{detail.time[0]}} to {{detail.time[1]}}</td>
							<td width="110"ng-if="isThere(detail.time) && !(isArray(detail.time))">{{detail.time}}</td>
							<td width="110"ng-if="!isThere(detail.time)"> </td>

							<td align="right" width="55" ng-if="isThere(detail.amount)">{{detail.amtStr}}</td>
							<td align="right" width="55" ng-if="!isThere(detail.amount)"> </td>

							<td width="82" ng-if="isThere(detail.link)">
								<a href="{{detail.link}}">More info...</a>
							</td>
							<td width="82" ng-if="!isThere(detail.link)"><a> </a></td>
						</tr>
					</table>
				</div>
			</li>
		</ul>
		<div id="side">
			<h2>Sidebar</h2>
			<br>
			<table width="100%">
				<tbody>
					<tr>
						<td>Detail Costs</td>
						<td align="right">{{parsePrice(detailCost(data))}}</td>
					</tr>
					<tr>
						<td>Food Costs</td>
						<td align="right">{{parsePrice(foodCost(data))}}</td>
					</tr>
					<tr>
						<td>Extra Costs</td>
						<td align="right">{{parsePrice(exCost(data))}}</td>
					</tr>
					<tr>
						<td><b>Total Costs</b></td>
						<td align="right"><b>{{parsePrice(totCost(data))}}</b></td>
					</tr>
				</tbody>
			</table>
		</div>
		<span>poop {{c}}</span>
		<script type="text/javascript" src="js/postLoad.js"></script>
	</body>
</html>